<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="DBCS" connectionString="Data Source=BC-SL2024A\MSSQLSERVER1;Initial Catalog=RMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpRuntime executionTimeout="720" maxRequestLength="51200" />
    </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true"
                 userName="dineshbalajitdb@gmail.com" password="phmu xoru wqoc rxoa" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
